/*Syling for the header bar underneath the nav bar*/
.firstDisplay {
  height: 400px;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff9c07;
  background-image: url(http://www.transparenttextures.com/patterns/hexellence.png);
}

.my-name {
  width: 100%;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

/*Creates max-width*/
@media only screen and (max-width: 780px) {
  .firstDisplay {
    width: 100%;
  }
}
