.firstDisplay {
  height: 400px;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff9c07;
  background-image: url(http://www.transparenttextures.com/patterns/hexellence.png);
}

h2 {

  width: 100%;
  color: #545149;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 780px) {
  .firstDisplay {
    width: 100%;
  }
}
