#tweet-text {
  width: 100%;
  height: 40px;
}

.new-tweet {
  display: none;
}

.errorText {
  color: red;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  display: none;
}

.tweet-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.tweet-container article {

  background-color: #FFEEC9;
  border: 5px solid black;
}

.tweet-container article:hover {
  box-shadow: 5px 10px #888888;
}

.tweetImage {
  padding-top: 3px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: left;
}

.name {
  padding-top: 20px;
}

.handle {
  padding-top: 30px;
  padding-right: 10px;
  color: #CDCBCB;
}

.displayAvatar {
  display: flex;
  flex-direction: row;
}

.tweet-container article header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  justify-content: space-between;
}

.tweetContent {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: left;
}

.tweet-container article footer {
  margin: 20px;
  border-top: 3px solid black;
  font-size: small;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*Set max-width*/
@media only screen and (max-width: 780px) {
  .tweet-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}